// Header start 
#header {
    @include flex(center, space-between);
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    #navbar {
        @include flex(center, center);
        li {
            padding: 0 20px;
            position: relative;
            a {
                color: #1a1a1a;
                transition:all 0.3s ease;
                font: {
                    size: 16px;
                    weight: 600;
                }
                &:hover, &.active {
                    color: #088178;
                }
                &.active::after, &:hover::after {
                    content: "";
                    width: 30%;
                    height: 2px;
                    background-color: #088178;
                    position: absolute;
                    bottom: -4px;
                    left: 21px;
                }
            }
        }
    }
}
