// Home Page 
#hero {
    background: {
        image: url('/img/hero4.png');
        position: top 25% right 0;
        size: cover;
    };
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    @include flex(flex-start, center);
    flex-direction: column;
    h4 {
        padding-bottom: 15px;
    }
    h1 {
        color: #088178;
        font-size: calc(50px + 20px);
        letter-spacing: 0.5px;
    }
    button {
        background: {
            image: url('/img/button.png');
            color: transparent;
            repeat: no-repeat;
        }
        border: none;
        color: #088178;
        padding: 14px 80px 14px 65px;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
        transition: all .3s ease;
        &:hover {
            color: #1a1a1a;
        }
    }
}

#feature {
    @include flex(center, space-between);
    flex-wrap: wrap;
    .fe-box {
        cursor: pointer;
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0,  0, 0, 0.03);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;
        &:hover {
            box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
            img {
                transform: scale(0.9);
            }
        }
        &:nth-child(2) h6{
            background-color: #cdebbc;
        }
        &:nth-child(3) h6{
            background-color: #d1e8f2;
        }
        &:nth-child(4) h6{
            background-color: #cdd4f8;
        }
        &:nth-child(5) h6{
            background-color: #f6dbf6;
        }
        &:nth-child(6) h6{
            background-color: #fff2e5;
        }
        img {
            width: 100%;
            margin-bottom: 10px;
            transition: all .3s ease;
        }
        h6 {
            display: inline-block;
            padding: 9px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #088178;
            background-color: #fddde4;
        }
    }
}

// Product Page
#product1 {
    text-align: center;
    .pro-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
        .pro {
            position: relative;
            width: 23%;
            min-width: 250px;
            padding: 10px 12px;
            border: 1px solid #cce7d0;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 10px 20px 30px rgba(0,  0, 0, 0.02);
            margin: 15px 0;
            transition: all 0.2s ease;
            &:hover {
                box-shadow: 10px 20px 30px rgba(0,  0, 0, 0.06);
                img {
                    transform: scale(0.95);
                }
            }
            img {
                width: 100%;
                border-radius: 20px;
                transition: all .3s ease;
            }
            .des {
                text-align: start;
                padding: 10px 0;
                span {
                    color: #606063;
                    font-style: 12px;
                }
                h5 {
                    padding-top: 7px;
                    color: #1a1a1a;
                    font-size: 14px;
                }
                i {
                    font-size: 12px;
                    color: rgb(243, 181, 25);
                }
                #price {
                    display: flex;
                    gap: 10px;
                    .price {
                        padding-top: 7px;
                        font-size: 15px;
                        font-weight: 700;
                        color: #088178;
                    }
                    .price-sale {
                        color: #1a1a1a;
                        text-decoration: line-through;
                    }
                }
            }
            .cart {
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50px;
                background-color: #e8f6ea;
                font-weight: 500;
                color: #088178;
                border: 1px solid #cce7d0;
                position: absolute;
                bottom: 20px;
                right: 10px;
            }
        }
    }
}

// Banner 
#banner {
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 40vh;
    background: {
        image: url('/img/banner/b2.jpg');
        size: cover;
        position: center;
    }
    h4 {
        color: #fff;
        font-size: 16px;
    }
    h2 {
        color: #fff;
        font-size: 30px;
        padding: 10px 0;
        span {
            color: #ef3636;
        }
    }
    button:hover {
        background: #088178;
        color: #FFF;
    }
}
// Shop Page 

// Single Product 

// Blog Page

// About Page